:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --cyan-overlay: hsl(178, 100%, 50%, 0.5);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font-family: 'outfit', sans-sherif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    line-height: 1.5;
    background: var(--main-bg);
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

main {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card_container {
    width: 100%;
    max-width: 280px;
    background: var(--card-bg);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 1px 5px 40px 2px var(--card-bg);
}

.card_img-container {
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}

.card_img-overlay-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity ease-in 0.3s;
    background: var(--cyan-overlay);
}

.card_img-overlay-container:hover {
    opacity: 1;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

.card_heading {
    color: var(--white);
    font-size: 1.25rem;
    margin: 1.25rem 0;
}

.card_text {
    color: var(--soft-blue);
    font-weight: 300;
    font-size: 16px;
}

.card_data-container {
    display: flex;
    place-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    font-size: .875rem;

    img {
        margin-right: .5rem;
    }
}

.card_value-container {
    display: flex;
    align-items: center;

    h3 {
        font-weight: 400;
        color: var(--cyan);
    }
}

.time_frame {
    display: flex;
    align-items: center;
    color: var(--soft-blue);
}

.card_divider {
    border: none;
    background: var(--line);
    margin: 1.25rem 0;
    height: 1px;
}

.card_attribution {
    display: flex;
    align-items: center;
    color: var(--soft-blue);
    font-weight: 300;
    font-size: .875rem;

    .card_attribution-img {
        width: 40px;
        border: 1px solid var(--white);
        border-radius: 50%;
        margin-right: .75rem;
    }

    span {
        color: var(--white);
    }
}

.card_heading:hover,
.card_attribution span:hover {
    color: var(--cyan);
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--card-bg);
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--soft-blue);
}

.attribution a {
    color: var(--white);
}